<!-- <div class="navbar-end">

    <div class="navbar-item">
        <div class="field is-grouped">
            <p class="control">
                <a class="bd-tw-button button is-dark" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://www.linkedin.com/in/daniort/">
                    <span class="icon">
                        <i class="fab fa-linkedin-in"></i>
                    </span>
                </a>
                <a class="bd-tw-button button is-dark" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://github.com/daniort">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                </a>
                <a class="bd-tw-button button is-dark" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/dqniort">
                    <span class="icon">
                        <i class="fab fa-twitter"></i>
                    </span>
                </a>

                <a class="bd-tw-button button is-dark" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://www.facebook.com/dqniort">
                    <span class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </span>
                </a>
                <a class="bd-tw-button button is-dark" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://www.youtube.com/channel/UCjw7Kfu9A5B_PUomNp48X9A">
                    <span class="icon">
                        <i class="fab fa-youtube"></i>
                    </span>
                </a>
            </p>

        </div>
    </div>
</div> -->