<section class="hero is-dark is-fullheight">
    <div>
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12 about-me">
                    <div class="container parrafo">
                        <h1 class="title is-3">Contact</h1>

                    </div>


                </div>


                <div class="column is-full">

                    <div class="columns fila">
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <a target="_blank" href="https://www.linkedin.com/in/daniort/">
                                <figure class="bd-icon">
                                    <span class=" icon is-large">
                                        <i class="fab  fa-7x fa-linkedin-in" id="col"></i>
                                    </span>
                                </figure>
                            </a>

                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <a target="_blank" href="https://github.com/daniort">
                                <figure class="bd-icon">
                                    <span class=" icon is-large">
                                        <i class="fab  fa-7x fa-github"></i>
                                    </span>
                                </figure>
                            </a>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <a target="_blank" href="https://twitter.com/dqniort">

                                <figure class="bd-icon">
                                    <span class=" icon is-large">
                                        <i class="fab  fa-7x fa-twitter"></i>
                                    </span>
                                </figure>
                            </a>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <a target="_blank" href="https://www.facebook.com/dqniort">
                                <figure class="bd-icon">
                                    <span class=" icon is-large">
                                        <i class="fab  fa-7x fa-facebook-f"></i>
                                    </span>
                                </figure>
                            </a>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <a target="_blank" href="https://www.youtube.com/channel/UCjw7Kfu9A5B_PUomNp48X9A">
                                <figure class="bd-icon">
                                    <span class=" icon is-large">
                                        <i class="fab  fa-7x fa-youtube"></i>
                                    </span>
                                </figure>
                            </a>
                        </div>


                    </div>


                </div>


                <div class="column is-full parrafo">
                    <p>
                        Daniel Ortiz Castro<br>
                        Xochimilco,16080 Ciudad de México, CDMX<br>
                        +52 9532396699<br>
                        dqniort@gmail.com<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
