<section class="hero is-light is-fullheight">
    <div class="column">
        <div class="columns fila">

            <h1 class="title">About me</h1>
        </div>
        <div class="columns">
            <div class="column mio">
                <p>

                    Mi nombre es Daniel Ortiz Castro, soy Ingeniero en Sistemas Computacionales,
                                      con la especilaidad en Desarrollo de Software
                    <br>
                    Recientemente eh estado trabajando con tecnolocias hibridas para aplicacion moviles y considero que actualemnte ese es mi fuerte,
                                      aunque tambien tengo conocimientos en desarrollo web.

                    
                </p>
            </div>

            <div class="column mio2">
                <div class="right-image" data-aos="fade-left"></div>
            </div>
        </div>
    </div>


</section>

<!-- 

<section class="hero is-light is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="column is-12 about-me">
          <h1 class="">About Me</h1>

        </div>
        <div class="columns is-multiline">
          <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
            <p class="is-larger">&emsp;&emsp;<strong>Abstract</strong>
            </p>
            <br />
            <p>
              I am Daniel Ortiz and have a licenciature in Enginer in Computer System,
               actuality i work in reactive tecnologies, frontend principalyment,
                but also i work with backend when necessary.
                Have two movile app in store, android and IOS. <br>
                I consider myself good at in UX desing.
            </p>
            <br />
            <div class="is-divider"></div>

          </div>
         
        </div>
      </div>
    </div>
  </section> -->
