
<section class="hero is-dark is-fullheight">
  <div class="hero-body">
      <div class="container">
          <div class="columns is-multiline">
              <div class="column is-12 about-me">
                  <div class="container parrafo">
                      <h1 class="title is-3">About me</h1>
                      <p>
                        My name is Daniel Ortiz Castro, I am a Computer Systems Engineer, specializing in Software Development.
                        I was born in Oaxaca. Mexico, and my goal is to be part of a team that solves problems to help society and to grow with that. <br>
                        I was part of the team of the Free Software Laboratory in the city of Zacatecas, that opened the doors to new projects as a freelancer. <br>
                        Recently I have been working with hybrid technologies for mobile applications and I consider that currently that is my strength, although I also have knowledge in web development.                      </p>
                  </div>
              </div>
              <div class="column is-full">
                  <div class="columns fila">
                      <div class="column is-one-third" data-aos="fade-in" data-aos-easing="linear">
                          <figure class="image is-5by4">
                              <img src="/assets/images/about/2.png">
                          </figure>
                      </div>
                          
                      <div class="column is-one-third" data-aos="fade-in" data-aos-easing="linear">
                        <figure class="image is-5by4">
                            <img src="/assets/images/about/3.png">
                        </figure>
                    </div>
                        
                    <div class="column is-one-third" data-aos="fade-in" data-aos-easing="linear">
                        <figure class="image is-5by4">
                            <img src="/assets/images/about/1.png">
                        </figure>
                    </div>
                  </div>

                 

              </div>

          </div>
      </div>
  </div>
</section>
