.is-black{
    
    background-color: #001C20; 
    
    padding: 10px;
}
.navbar-item{
    font-family: 'Staatliches', cursive; 
}
.navbar-item:hover{
    background-color: magenta;
}
.title{
    font-family: 'Orbitron', sans-serif;
    color: darkslategrey;
}
/* .is-3{
    //background: -webkit-linear-gradient(#B20D30, #DD0426);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
