

    <!-- Begin Header -->
    <div class="header-wrapper heros">
        <!-- Begin Hero -->
        <section class="hero is-large ">
          <!-- Begin Hero Content-->
          <div class="hero-body">
            <div class="container has-text-centered ">
              <h1 class="subtitle miname">Hey there, I'm</h1>
              <h2 class="title miname name">@daniort</h2>
              <h1 class="subtitle profession miname">A Sofware Developer</h1>
            </div>
          </div>
          <!-- End Hero Content-->
        </section>
        <!-- End Hero -->
      </div>
      <!-- End Header -->
  