<section class="hero is-dark is-fullheight">
    <div>
        <div class="container">
            <div class="column is-12">
                <div class="container parrafo">
                    <h1 class="title is-3" id="mitutulo">Projects</h1>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <figure class="image ">
                            <img src="/assets/images/pro/xolo.png">
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title">Xolopet</h1>
                        <p>Una Aplicación Movile con una tienda de alimentos y accesorios para mascotas conectada con Shopify.
                                                                                    Ademas ademas con una interfaz para monitorear un wadget de IoT, datos como su bateria, o la cantidad de comida restante. Esta Disponible para Android y para iOS</p>
                        <div>
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.xolopet.xolopetapp">
                                <button class="button is-rounded is-danger">Google Play</button>
                            </a>


                        </div>
                    </div>

                </div>
                <div class="columns fila">
                    <div class="column">
                        <h1 class="title">Sezami</h1>
                        <p>Una Aplicación Movile hecha para la Secretaria del Zacatecano Migrante en la que se podía hacer solicitudes desde esta. Tambien trabajamos generando reportes, y actualemnte cuenta con chats para comunicar al usuario con un asesor.</p>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=zac.labsol.sezamiapp">
                            <button class="button is-rounded is-danger">Google Play</button>
                        </a>
                    </div>
                    <div class="column">
                        <figure class="image">
                            <img src="/assets/images/pro/sezami.png">
                        </figure>
                    </div>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <figure class="image">
                            <img src="/assets/images/pro/covi.png">
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title">Covid Report</h1>
                        <p>Una Aplicación movil para mantener informada a la ciudadania de como identificar, como prevenir, a donde acudir y donde obetner una infromación mas detallada sobre la el virus SARS-2. Tambien ofrecia el inicio de sesión no obligatorio para poder hacer un text rapido, y poder catalogar a la persona como en buen estado de salud, sospechoso o en peligro, guardando sus datos, los del formulario hasta como su latitud y longitud.</p>
                        <a target="_blank" href="https://github.com/daniort/coviapp"><button class="button is-rounded is-danger" >Source</button></a>
                    </div>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <h1 class="title">Patrimonia</h1>
                        <p>Una Aplicación Movil donde puedes encontrar desde lotes hasta casas y departamentos. El usaurio puede rentar, apartar o comprar una propiedad, claro que esto conllevaría ponerlo en contacto con un asesor respectivo.</p>
                        <a target="_blank" href="https://github.com/daniort/paty"><button class="button is-rounded is-danger" >Source</button></a>
                    </div>
                    <div class="column">
                        <figure class="image">
                            <img src="/assets/images/pro/paty.png">
                        </figure>
                    </div>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <figure class="image">
                            <img src="/assets/images/pro/mandar.png">
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title">Mandaderos</h1>
                        <p>Aplicacion Movil para solicitar a una persona a que realize tus mandados, como comprar comidas o hacer pagos, implementamos Rutas con google maps y Pasarelas de Pagos.</p>
                        <a target="_blank" href="https://github.com/daniort/mandar"><button class="button is-rounded is-danger" >Source</button></a>
                    </div>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <h1 class="title">BlackList</h1>
                        <p>Una Aplicacion Web desarrollada en Angular 8 para el control de deudores en tiendas de abarrotes, como base de datos tiene Firebase.</p>
                        <a target="_blank" href="https://github.com/daniort/BlackList2"><button class="button is-rounded is-danger" >Source</button></a>
                    </div>
                    <div class="column">
                        <figure class="image">
                            <img src="/assets/images/pro/black.png">
                        </figure>
                    </div>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <figure class="image">
                            <img src="/assets/images/pro/black.png">
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title">Mi Portafolio</h1>
                        <p>Tambien yo hice este sitio, así que consideré que tambien debía ser tomada en cuenta. Esta hecho en Angular 10 y BulmaCSS. Nice, rigth?</p>
                        <a href="https://github.com/daniort/BlackList2"><button class="button is-rounded is-danger" >Source</button></a>
                        <button routerLink="/home"  class="button is-rounded is-danger" >Site</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
