<section class="hero is-dark is-fullheight">
    <div>
        <div class="container">
            <div class="column is-12">
                <div class="container parrafo">
                    <h1 class="title is-3" id="mitutulo">Projects</h1>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <figure class="image is-5by3">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title">Xolopet</h1>
                        <p>Una Aplicación Movile con una tienda de alimentos y accesorios para mascotas conectada con Shopify.
                            Ademas ademas con una interfaz para monitorear un wadget de IoT, datos como su bateria, o la cantidad de comida restante.</p>
                        <div>
                        <button class="button is-rounded is-danger" routerLink="/about" routerLinkActive="router-link-active" >Google Play</button>
                        <button class="button is-rounded is-danger" routerLink="/about" routerLinkActive="router-link-active" >App Store</button>
                        </div>   
                    </div>

                </div>
                <div class="columns fila">
                    <div class="column">
                        <h1 class="title">Sezami</h1>
                        <p>Una Aplicación Movile hecha para la Secretaria del Zacatecano Migrante en la que se podía hacer solicitudes desde esta. Tambien trabajamos generando reportes, y actualemnte cuenta con chats para comunicar al usuario con un asesor.</p>
                        <div>
                          <button class="button is-rounded is-danger" routerLink="/about" routerLinkActive="router-link-active" >Google Play</button>
                        </div>   
                    </div>
                    <div class="column">
                        <figure class="image is-5by3">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                    </div>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <figure class="image is-5by3">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title">Covid Report</h1>
                        <p>Una Aplicación movil para mantener informada a la ciudadania de como identificar, como prevenir, a donde acudir y donde obetner una infromación mas detallada sobre la el virus SARS-2. Tambien ofrecia el inicio de sesión no obligatorio para poder hacer un text rapido, y poder catalogar a la persona como en buen estado de salud, sospechoso o en peligro, guardando sus datos, los del formulario hasta como su latitud y longitud.</p>
                    </div>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <h1 class="title">Patrimonia</h1>
                        <p>Una Aplicación Movil donde puedes encontrar desde lotes hasta casas y departamentos. El usaurio puede rentar, apartar o comprar una propiedad, claro que esto conllevaría ponerlo en contacto con un asesor respectivo.</p>
                    </div>
                    <div class="column">
                        <figure class="image is-5by3">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                    </div>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <figure class="image is-5by3">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title">Mandaderos</h1>
                        <p>Aplicacion Movil para solicitar a una persona a que realize tus mandados, como comprar comidas o hacer pagos, implementamos Rutas con google maps y Pasarelas de Pagos.</p>
                    </div>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <h1 class="title">BlackList</h1>
                        <p>Una Aplicacion Web desarrollada en Angular 8 para el control de deudores en tiendas de abarrotes, como base de datos tiene Firebase.</p>
                        <button class="button is-rounded is-danger" routerLink="/home" routerLinkActive="router-link-active" >Ir al Sitio</button>
                    </div>
                    <div class="column">
                        <figure class="image is-5by3">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                    </div>
                </div>
                <div class="columns fila">
                    <div class="column">
                        <figure class="image is-5by3">
                            <img src="https://bulma.io/images/placeholders/256x256.png">                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title">Mi Portafolio</h1>
                        <p>Tambien yo hice este sitio, así que consideré que tambien debía ser tomada en cuenta. Esta hecho en Angular 10 y BulmaCSS. Nice, rigth?</p>
                        <button class="button is-rounded is-danger" routerLink="/home" routerLinkActive="router-link-active" >Ir al Sitio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
