<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12 about-me">
                    <div class="container parrafo">
                        <h1 class="title is-3">Skills</h1>
                        <p>
                            My skills have been the product of a self-learning path, some encouraged by jobs and others by academic reasons. My professional profile is currently oriented for hybrid mobile development. But I also have knowledge in Web Development.
                            <br>
                            I also worked as a Graphic Designer, I have Internet Microwave Links bases, and as a hobby. I also have knowledge of audio visual content creation.
                        </p>
                    </div>


                </div>


                <div class="column is-full">

                    <div class="columns fila">
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/fltter.png">
                            </figure>
                            <h6 class="subtitle is-6">Flutter</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/dart.png">
                            </figure>
                            <h6 class="subtitle is-6">Dart</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/firebase.png">
                            </figure>
                            <h6 class="subtitle is-6">Firebase</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/angular.png">
                            </figure>
                            <h6 class="subtitle is-6">Angular</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/ts.png">
                            </figure>
                            <h6 class="subtitle is-6">TypeScript</h6>
                        </div>
                    </div>

                    <div class="columns fila">
                        <div class="column is-one-fifth celda" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/htm.png">
                            </figure>
                            <h6 class="subtitle is-6">HTML</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/css.png">
                            </figure>
                            <h6 class="subtitle is-6">CSS</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/js.png">
                            </figure>
                            <h6 class="subtitle is-6">JavaScript</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/java.png">
                            </figure>
                            <h6 class="subtitle is-6">Java</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/mysql.png">
                            </figure>
                            <h6 class="subtitle is-6">MySQL</h6>
                        </div>
                    </div>
                    <div class="columns fila">
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/git.png">
                            </figure>
                            <h6 class="subtitle is-6">Git</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/bulma.png">
                            </figure>
                            <h6 class="subtitle is-6">Bulma CSS</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/bootstrap.png">
                            </figure>
                            <h6 class="subtitle is-6">Bootstrap</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/visual.png">
                            </figure>
                            <h6 class="subtitle is-6">Visual Studio Code</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/android.png" height="30px">
                            </figure>
                            <h6 class="subtitle is-6">Android Studio</h6>


                        </div>
                    </div>
                    <div class="columns fila">
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/linux.png">
                            </figure>
                            <h6 class="subtitle is-6">Linux</h6>
                        </div>

                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/bash.png">
                            </figure>
                            <h6 class="subtitle is-6">Bash</h6>
                        </div>


                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/corel.png">
                            </figure>
                            <h6 class="subtitle is-6">Corel Draw</h6>
                        </div>


                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/photo.png">
                            </figure>
                            <h6 class="subtitle is-6">Adobe Photoshop</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/audition.png">
                            </figure>
                            <h6 class="subtitle is-6">Adobe Audition</h6>
                        </div>

                    </div>

                    <div class="columns  ultima-fila">
                     
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/vegas.png" height="30px">
                            </figure>
                            <h6 class="subtitle is-6">Vegas Pro</h6>
                        </div>

                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/microtik.png" height="30px">
                            </figure>
                            <h6 class="subtitle is-6">Equipos MikroTik</h6>
                        </div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear">
                            <figure class="image is-128x128">
                                <img src="/assets/images/skills/ubiquiti.png" height="30px">
                            </figure>
                            <h6 class="subtitle is-6">Equipos Ubiquiti</h6>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>
