<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12 about-me">
                    <div class="container parrafo">
                        <h1 class="title">Skills</h1>
                        <h2 class="subtitle is-6">
                            Las habilidades que tengo han sido producto de una ruta de autoaprendizaje, algunas alentadas por trabajos y otras por razones academicas.
                                                                                                                                                                                        Mi perfil profesional lo tengo orientado actualemnte hacia el desarrollo movil hibrido.
                                                                                                                                                                                        Pero tambien tengo conocimeintos en Desarollo Web.
                            <br>
                            Tambien trabajé como Diseñador Grafico, tengo bases de Enlaces Microondas de Internet, y como hobbie tambien tengo conocimeintos programas de creacion de contenido AudioVisual
                        </h2>
                    </div>

                   


                </div>

                <div class="column is-full">

                    <div class="columns">
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear"> <figure class="image is-128x128">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Google-flutter-logo.png">
                        </figure></div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear"> <figure class="image is-128x128">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Dart-logo-wordmark.svg/1280px-Dart-logo-wordmark.svg.png">
                        </figure></div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear"> <figure class="image is-128x128">
                            <img src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-standard.png?hl=es-419">
                        </figure></div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear"> <figure class="image is-128x128">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
                        </figure></div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear"> <figure class="image is-128x128">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png">
                        </figure></div>
                    </div>


                    <div class="columns">
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear"> <figure class="image is-128x128">
                            <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png">
                        </figure></div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear"> <figure class="image is-128x128">
                            <img src="https://www.logolynx.com/images/logolynx/7e/7eed17a45f24e41077eb7cad1d031492.png">
                        </figure></div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear"> <figure class="image is-128x128">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
                        </figure></div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear"> <figure class="image is-128x128">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png">
                        </figure></div>
                        <div class="column is-one-fifth" data-aos="fade-in" data-aos-easing="linear"> <figure class="image is-128x128">
                            <img src="https://cdn.iconscout.com/icon/free/png-512/typescript-1174965.png">
                        </figure></div>
                    </div>

                    <div class="columns">
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                        <div class="column is-1" data-aos="fade-in" data-aos-easing="linear">2</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
